@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

/*Body*/
body{
    width: 100%;
    background-color: #fff;
    font-family: "Anton", serif;
}
/*Head Bar*/
#head_bar{
    position: fixed;
    border: solid #000 2px;
    background-color: #000;
    width: 100%;
    height: 75px;
    z-index: 10000000000;
}
#head_bar_logo1{
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 44%;
    width: 185px;
    height: 75px;
    font-weight: bolder;
}
#head_bar_logo2{
    display: none;
}
#menu{
    display: none;
}
.menu {
    display: flex;
    list-style: none;
    margin-top: 1.5%;
    margin-left: 10%;
    text-decoration: none;
}
#head_devis{
    margin-top: -1%;
    margin-left: 65%;
    list-style: none;
}
#head_bar ul a{
    padding: 15px;
    text-transform: capitalize;
    font-size: 20px;
    text-decoration: 0;
    color: #fff;
    position: relative;
}
#head_bar ul a:hover{
    color:#37abc8;
}



/*After/Now*/
#after_now{
    background-color: #fff;
    width: 100%;
    height: 450px;
}
/*SLIDER*/
.slider0{
    float: left;
    position: relative;
    width: 99.99%;
    height: 450px;
    overflow: hidden;
}

.slider0 img{
    width: 100%;
    height: 450px;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider0 button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    padding: 10px 35px;
    background-color: hsl(0, 0%, 0%, 0);
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev0{
    left: 0;
}
.next0{
    right: 0;
}



/*Tarif1*/
#partie1{
    background-color: #fff;
    width: 100%;
    height: 400px;
}
#devis_partie1{
    display: flex;
    position: absolute;
    border: 0;
    border-radius: 50px;
    padding: 8px 15px;
    margin-left: 25%;
    margin-top: 5%;
    color: #fff;
    background-color: #1ca700;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
    text-align: center;
    cursor: pointer;
}
#devis_partie1:hover{
    transform: scale(1.06);
}
#partie1 img{
    display: inline-block;
    position: absolute;
    margin-left: 60%;
    height: 400px;
}



/*Tarif2*/
#partie2{
    background-color: #fff;
    width: 100%;
    height: 400px;
}
#devis_partie2{
    display: flex;
    position: absolute;
    border: 0;
    border-radius: 50px;
    padding: 8px 15px;
    margin-left: 40%;
    margin-top: 6%;
    color: #fff;
    background-color: #1ca700;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
    text-align: center;
    cursor: pointer;
}
#devis_partie2:hover{
    transform: scale(1.06);
}
#partie2 img{
    display: inline-block;
    position: absolute;
    margin-left: 5%;
    height: 400px;
}



/*Vod*/
#vod{
    background-color: #fff;
    width: 100%;
    height: 450px;
}
#vods{
    width: 100%;
    height: 450px;
}



/*Info/Contact/Horraire*/
#info{
    background-color: #fff;
    width: 100%;
    height: 250px;
}
#P_H{
    display: inline-block;
    position: absolute;
    margin-top: 3%;
    margin-left: 15%;
}
#R_Sociaux{
    display: inline-block;
    position: absolute;
    margin-top: 3%;
    margin-left: 60%;
}
#R{
    color: #000;
}
.tiktok{
    text-decoration: none;
    color: #000;
}

#contact{
    display: inline-block;
    position: absolute;
    margin-top: 7%;
    margin-left: 15%;
}

#devis_info{
    display: flex;
    position: absolute;
    border: 0;
    border-radius: 50px;
    padding: 8px 15px;
    margin-left: 43%;
    margin-top: 3%;
    color: #fff;
    background-color: #1ca700;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
    text-align: center;
    cursor: pointer;
}
#devis_info:hover{
    transform: scale(1.06);
}
.info_lienmail, .info_lientel{
    text-decoration: none;
    color: #37abc8;
    font-size: 25px;
}
#info_email, #info_telephone{
    height: 25px;
    width: 25px;
}

/*Modal*/
.modal-container{
    /*display: none;*/
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: visibility 0.4s;
}
.modal-container.active{
    /*display: block;*/
    visibility: visible;
}
.overlay{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay{
    opacity: 1;
    transition: opacity 0.4s 0.2s ease-out;
}
.modal{
    opacity: 0;
    width: 95%;
    max-width: 700px;
    min-width: 500px;
    max-height: 700px;
    min-height: 500px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 50px));
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    text-align: center;
    align-items: center;
}
.modal-container.active .modal{
    opacity: 1;
    transform: translate(-50%, calc(-50%));
    transition: opacity 0.4s 0.2s ease-out, transform 0.4s ease-out;
}
.close-modal{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #de0909;
    color: #fff;
}
.modal h1{
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.modal p{
    line-height: 1.4;
    margin-bottom: 5px;
    font-size: 25px;
}


#copie{
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 3px;
    margin-top: 30px;
    font-size: 30px;
    color: #444;
    background-color: greenyellow;
}
#copie:hover{
    background-color: #444;
    color: #fff;
    cursor: pointer;
}

/*Footer*/
footer{
    width: 100%;
}
#footer_bar{
    border: solid black 1px;
    background-color: #000;
    color: #b7b7b7;
    font-weight:lighter;
    font-size: 19px;
    width: 100%;
    height: 100px;
}
#lienmail, #lientel{
    text-decoration: none;
    color: #37abc8;
    font-size: 19px;
}
#email, #telephone{
    height: 17px;
    width: 19px;
}

@media screen and (max-width: 799px) and (min-width: 320px) {
    /*Head Bar*/
    #head_bar_logo1{
        display: none;
    }
    #head_bar_logo2{
        display: inline-block;
        position: absolute;
        top: 5%;
        left: 35%;
        width: 50px;
        height: 70px;
        font-weight: bolder;
    }
    #head_devis{
        margin-top: -55px;
        margin-left: 55%;
    }
    #head_bar ul{
        margin-left: 0%;
    }
    #head_bar > ul::after{
        content: "";
        display: block;
        clear:both;
    }
    #menu{
        display: inline-block;
        cursor: pointer;
    }
    #menu li:hover .menu{
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 0px;
        padding: 0px;
        z-index: 1000;
    }
    .menu{
        display: none;
        margin-top: 40px;
        margin-left: 150px;
    }
    

    /*SLIDER*/
    .slider0 img{
        width: 100%;
    }


    /*Tarif1*/
    #partie1{
        height: 575px;
    }
    #devis_partie1{
        display: inline-block;
        position: relative;
        margin-top: 5px;
    }
    #partie1 img{
        display: inline-block;
        position: relative;
        margin-left: 0%;
        width: 100%;
    }


    /*Tarif2*/
    #partie2{
        height: 575px;
    }
    #devis_partie2{
        display: inline-block;
        position: relative;
        margin-left: 25%;
        margin-top: 5px;
    }
    #partie2 img{
        display: inline-block;
        position: relative;
        margin-left: 0%;
        width: 100%;
    }

    /*Vod*/
    #vods{
        width: 100%;
    }


    /*Info/Contact/Horraire*/
    #info{
        height: 500px;
    }
    #P_H{
        display: inline-block;
        position: absolute;
        margin-top: 15px;
        margin-left: 30px;
    }
    #contact{
        display: inline-block;
        position: absolute;
        margin-top: 100px;
        margin-left: 30px;
    }
    #R_Sociaux{
        display: inline-block;
        position: absolute;
        margin-top: 175px;
        margin-left: 150px;
    }
    #R{
        color: #000;
    }
    .tiktok{
        text-decoration: none;
        color: #000;
    }
    #devis_info{
        margin-left: 120px;
        margin-top: 250px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 800px){
    /*Head Bar*/
    #head_devis{
        margin-left: 20%;
    }
    #head_bar ul{
        margin-left: 0%;
    }
    #menu{
        display: inline-block;
    }
    .menu{
        display: none;
    }
}

@media screen and (max-width: 1550px) and (min-width: 1281px){
    /*Head Bar*/
    #head_bar ul{
        margin-left: 0%;
    }
}